.top-nav{
    width: 100%;
    background-color: white;
    font-size: calc(12px + (14 - 12) * (100vw - 384px) / (1440 - 384));
    font-weight: 400;
    letter-spacing: -0.025em;
    line-height: calc(14.4px + (18 - 14.4) * (100vw - 384px) / (1440 - 384));
    border-bottom: var(--secondary-gray) solid 1px;
    padding:20px;
    padding-left: 150px;
    font-family: Google Sans,Roboto,Helvetica Neue,sans-serif;
}
.top-nav span{
    padding: 20px;
    padding-right: 0;
}
.container{
    max-width: calc(100% - 125px);
    margin-left: 125px;
}

/* Header Styles */
header {
    padding: 1rem 2rem;
    background: var(--white);
}

.menu-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.profile-img {
    border-radius: 50%;
}

.logout-btn {
    padding: 0.5rem 1rem;
    background: var(--white);
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

section{
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10% !important;
}

/* Hero Section */
.hero {
    background: 
    url("../img/patterns/Dotted Pattern 1.svg"), linear-gradient(135deg, rgba(255,168,0,1) 0%, rgba(255,111,0,1) 100%);
    background-size: contain; /* or cover */
    background-repeat:no-repeat;
    background-position: center;
    padding: 4rem 2rem;
    min-height: 300px;
    position: relative;
}

.hero-content h1 {
    color: var(--white);
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.2;
    padding-bottom: 100px;
    padding-left: 50px;
}

/* About Section */
.about-tfug {
    background: var(--black);
    padding: 4rem 2rem;
    color: var(--white);
    position: relative;
    overflow: hidden;
}
.about-tf {
    background: var(--white);
    padding: 4rem 2rem;
    color: var(--dark);
}

.about-text{
    margin: 0;
    align-self: center;
}

.about-card {
    
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.team-photo {
    width: 415px;
    margin-left: -32px;
    margin-top: -32px;
}

.team-logo{
    position: absolute;
    right: -30px;
    bottom: -30px;
    rotate: -15.69deg;
}

.tensorflow-info {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    align-items: center;
}

.tf-logo {
    width: 100%;
    max-width: 200px;
    background: var(--white);
    padding: 1rem;
    border-radius: 8px;
}

.tf-text{
    width: 90%;
}

/* Events Section */
.events {
    background: url("../img/patterns/Dotted Previous Events.svg"), var(--black);
    padding: 4rem 2rem;
    text-align: center;
    color: var(--white);
    background-size: cover; 
    background-repeat:no-repeat;
    background-position: center;
    
}

.events h2, .events p{
    margin-bottom: 1rem;
    background: linear-gradient(180deg, var(--secondary-orange) 0%, var(--primary-orange) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

.events-btn {
    padding: 0.75rem 2rem;
    background: transparent;
    border: 1px solid var(--white);
    color: var(--white);
    border-radius: 4px;
    cursor: pointer;
    width: max-content;
    margin-inline: auto;
}

.events-btn:hover{
    background: linear-gradient(135deg, rgba(255, 168, 0, 1) 0%, rgba(255, 111, 0, 1));
}

/* Cards Section */
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 4rem 2rem;
    background: var(--white);
    margin: 0 auto;
}

.card {
    padding: 2rem;
    border: none;
    height: 240px;
    box-shadow: 15px 15px 54px -10px #0000001f;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 16px;
    background: #FFF;
}
.card-icon {
    margin-bottom: 1rem;
    width: 32px;
}

.card h3 {
    margin-bottom: 1rem;
    font-size: 1rem;
}

.card-link {
    color: var(--primary-orange);
    text-decoration: none;
}
.contact-join-section {
    height: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: url("../img/patterns/curved-check-vector.svg"),linear-gradient(180deg, var(--secondary-orange) 0%, var(--primary-orange) 100%);
    padding: 43px 121px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-box, .join-box {
    width: 410px;
    height: 469px;
    background: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    padding: 20px;
    text-align: left;
    margin-inline: 5%;
}

h2 {
    color: var(--dark);
    font-size: 32px;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
}

.contact-description, .join-description {
    color: var(--dark);
    font-size: 10px;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    padding: 7px;
    margin: 8px 0;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    font-size: 10px;
}

textarea {
    height: 80px;
}

.send-btn {
    border: none;
    color: white;
    font-size: x-small;
    width: 100px;
    padding: 8px;
    background: linear-gradient(90deg, var(--primary-orange) 0%, var(--secondary-orange) 100%);
    border-radius: 2px;
    cursor: pointer;
}

.social-links {
    list-style: none;
    padding: 0;
}

.social-links li {
    display: flex;
    align-items: center;
    margin: 10px 0;
    color: var(--dark);
    font-size: 10px;
    font-family: Poppins, sans-serif;
}

.social-links img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.social-links li a {
    color: var(--dark);
    text-decoration: none;
}

@media only screen and (max-width: 768px) {

    section{
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10% !important;
    }

    .about-card,
    .tensorflow-info,
    .cards {
        grid-template-columns: 1fr;
    }

    .top-nav{
        padding: 20px;
        text-align: center;
    }
    .top-nav span{
        padding: 0px;
        padding-right: 0;
    }

    /* Hero Section */
    .hero {
        background: url("../img/patterns/Dotted Pattern 1.svg"), linear-gradient(135deg, rgba(255,168,0,1) 50%, rgba(255,111,0,1) 100%);
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 80px 10px 20px 30px!important;
        min-height: 300px;
        position: relative;
        background-size: 124vw 50vh;
        background-position: right bottom;
        background-repeat: space;
    }

    .hero-content img {
        padding: 0!important;
        width: 200px!important;
    }
    .hero-content h1 {
        font-size: 36px;
        line-height: 1.2;
        padding: 0!important;
    }

    /* About Section */
    .about-tfug, .about-tf {
        padding: 20px;
        text-align: center;
    }

    .about-card {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .team-photo {
        width: 100%;
        margin: 0;
    }

    .team-logo{
        zoom: 0.5;
    }

    .tf-logo-container {
        width: max-content;
        zoom: 0.7;
        margin-inline: 15%;
    }

    .tf-text{
        text-align: center;
        width: 100%;
        font-size: 14px;
        margin-top: 20px;
    }

    /* Events Section */
    .events {
        text-align: center;
        padding: 30px 10px;
    }

    .events h2 {
        font-size: 22px;
    }

    .events p {
        font-size: 14px;
    }

    .events-btn {
        padding: 10px 20px;
        font-size: 14px;
    }

    /* Cards Section */
    .cards {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        padding: 20px;
    }

    .card {
        width: 90%;
        padding: 20px;
    }

    .card img {
        width: 50px;
    }

    /* Contact & Join Section */
    .contact-join-section {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        height: auto;
    }

    .contact-box, .join-box {
        width: 100%;
        height: auto;
    }

    .social-links img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

}
