{% extends "base.html" %}
{% load static %}

{% block style %}
<!-- Swiper.js CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
<link rel="stylesheet" href="{% static 'assets/css/home-style.css' %}">
<style>
    .heading,
    h2 {
        margin: 0 !important;
    }

    .contact-box,
    .join-box {
        height: auto;
        margin: auto;
        align-items: center;
        width: max-content;
        box-shadow: none;
    }
</style>
{% endblock style %}

{% block body %}
<main class="page projects-page">
    <section class="portfolio-block projects-cards">
        <div class="container">
            <div class="heading">
                <h2>Find Us On</h2>
            </div>
            <div class="join-box">
                <ul class="social-links">
                    <li><img src="{% static 'assets/img/patterns/Commudle.svg' %}" alt="Commudle Logo">
                        <span><a
                                href="https://www.commudle.com/communities/tensorflow-user-group-ghaziabad/">Commudle</a></span>
                    </li>
                    <li><img src="{% static 'assets/img/patterns/Linkedin.svg' %}" alt="LinkedIn Logo">
                        <span><a
                                href="https://www.linkedin.com/company/tensorflow-user-group-ghaziabad/">LinkedIn</a></span>
                    </li>
                    <li><img src="{% static 'assets/img/patterns/X.svg' %}" alt="X/Twitter Logo">
                        <span><a href="https://twitter.com/tfug_ghaziabad?t=WgP_m4TKH0On9D2ulXZVMw&s=08">X (Previously
                                Twitter)</a></span>
                    </li>
                    <li><img src="{% static 'assets/img/patterns/Discord.svg' %}" alt="Discord Logo">
                        <span><a href="https://chat.whatsapp.com/CXCiEuuUNKeFydoPU3nycP">WhatsApp</a></span>
                    </li>
                    <li><img src="{% static 'assets/img/patterns/Instagram.svg' %}" alt="Instagram Logo">
                        <span><a href="https://www.instagram.com/tfug_ghaziabad/">Instagram</a></span>
                    </li>
                    <li><img src="{% static 'assets/img/patterns/Youtube.svg' %}" alt="YouTube Logo">
                        <span><a href="https://www.youtube.com/@TFUGGhaziabad">Youtube</a></span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- <hr style="width: 100%;"> -->

    <!-- <section class="portfolio-block projects-cards">
            <div class="container">
                <div class="heading">
                    <h2>Swag Giveaway Event</h2>
                </div>
                <div class="box-findUs" style="width: fit-content;">
                    <p>Participate in our Swag Giveaway Event and stand a chance to win exciting prizes! Here's how:</p>
                    <ol>
                        <li>Follow us on our social media platforms: Twitter, Instagram, and LinkedIn.</li>
                        <li>Like and share our event posts with your friends and colleagues.</li>
                        <li>Use the hashtags <strong>#tfugghaziabad</strong> and <strong>tensorflowpowerup2023</strong> in
                            your shares and comments.</li>
                        <li>The participant with the most likes and shares across all platforms will win exclusive TFUG
                            Ghaziabad swag!</li>
                    </ol>
                    <p>Get ready to show your support and win big. Good luck!</p>
                    <div class="heading m-5">
                        <h3 style="font-weight: bolder;">POSTING GUIDELINES</h3>
                    </div>
                    <div>
                        <p>Welcome to our community! We appreciate your active participation in our recent event.
                            <br><br> To maintain a positive and engaging environment, please follow these posting
                            guidelines:</p>
                        <ul>
                            <li>Respect all members and their opinions.</li>
                            <li>Avoid any form of discrimination or hate speech.</li>
                            <li>Keep discussions relevant to the community's interests.</li>
                            <li>Use appropriate language and tone in your posts.</li>
                            <li>Do not spam or promote unrelated content.</li>
                            <li>Report any violations to the community moderators.</li>
                        </ul>
                        <p>Thank you for being a part of our community, and we look forward to your valuable
                            contributions!</p>
                    </div>
                </div>
            </div>
        </section> -->

</main>
{% endblock body %}